# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
*.code-workspace
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node
node_modules/
dist/
build/
coverage/

# Generic
temp/
tmp/

# -------------------------
# Python / Virtualenv
# -------------------------
.venv/
venv/
ENV/
env/

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Packaging / build
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml
